.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/plant.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.officail{
    position: fixed;
    top: 3%;
    right: 5%;
}

.mainHeading{
    margin: 0 0 10px 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 56px;
}


@media only screen and (max-width: 1200px) {
    .officail{
        right: 85%;
    }
}

@media only screen and (max-width: 768px) {
    .officail{
        right: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .officail{
        right: 70%;
    }
    .mainHeading{
        font-size: 50px;
    }
}

@media only screen and (max-width: 380px) {
    .officail{
        right: 60%;
    }
    .mainHeading{
        font-size: 40px;
    }
}


@media only screen and (max-width: 380px) {
    .mainHeading{
        font-size: 35px;
    }
}

